<% include ../partials/head %>
<body>
<% include ../partials/navbar %>
<div class="container" style="padding-top:8em">
  <div class="bs-docs-section">
    <div class="row">

      <div class="col-lg-4"></div>
    
      <div class="col-lg-4">
    
        <div class="page-header">
          <header>
            <h3>Profil</h3>
          </header>
        </div>
      
        <main>
        
          <p><%=user.username%></p>
          <p><%=user.fullname%></p>
          <p><%=user.email%></p>
          
        </main>
        
      </div>
      
      <div class="col-lg-4"></div>
      
    </div>
  </div>
</div>
</body>