<% include ../partials/head %>
<body>
<% include ../partials/navbar %>
<div class="container mx-auto px-0" style="padding-top:6em; padding-bottom:2em;">
  <div class="bs-docs-section">
    
    <div class="page-header">
      <header>
        <h3>Tőzsde</h3>
      </header>
    </div>
    

    <div class="row justify-content-center" style="padding-top:1em">


      <div class="col-lg-9">

        <h4>1. szintű problémák</h4>
        <hr class="my-3">
        <div class="row">

          <div class="col-sm-4">
            <div class="card border-info mb-3 mx-auto" style="max-width:18rem;/*border-color:purple!important;*/">
              <h5 class="card-header" style="/*color:purple;*/">
                <i style="float:right;" class="material-icons">touch_app</i>
                Új extra feladat!
              </h5>
              <div class="card-body">
                <div class="container-fluid">
                <div class="row">
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i class="material-icons">touch_app</i> %>
                  </div>
                  <div class="col-10" style="padding:0px;display:inline-block;">
                    <h5 class="card-title text-center" style="/*color:purple;*/padding:0px!important;"><strong>Bansz: "edd meg a kutyád"</strong></h5>
                  </div>
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i style="float:right;" class="material-icons">lock</i> %>
                    <p class="card-text text-right" style="white-space: nowrap;"><strong>121</strong></p>
                    <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                    <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
                  </div>
                </div>
                </div>
                <p class="card-text text-center">
                <span class="badge badge-info">analízis</span>
                <div class="text-center"><a href="#" class="btn btn-info" style="/*background-color:purple;border-color:purple;*/">Ugrás a feladatra</a></div>
              </div>
              <div class="card-footer text-center">
                <%# <strong> %>
                Hátralévő idő: 04:37
                <%# </strong> %>
              </div>
            </div>
          </div>


          <div class="col-sm-4">

            <div class="card border-primary mb-4 mx-auto" style="max-width:18rem;border-color:purple!important;">
              <h5 class="card-header" style="color:purple;">
                <i style="float:right;" class="material-icons">alarm</i>
                Új extra feladat!
              </h5>
              <div class="card-body">
                <div class="container-fluid">
                <div class="row">
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i class="material-icons">alarm</i> %>
                  </div>
                  <div class="col-10" style="padding:0px;display:inline-block;">
                    <h5 class="card-title text-center" style="color:purple;padding:0px!important;"><strong>Kecske Gerda operában</strong></h5>
                  </div>
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i style="float:right;" class="material-icons">lock</i> %>
                    <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                    <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                    <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
                  </div>
                </div>
                </div>
                <p class="card-text text-center">
                <span class="badge badge-info">számelmélet</span>
                <div class="text-center"><a href="#" class="btn btn-info" style="background-color:purple;border-color:purple;">Ugrás a feladatra</a></div>
              </div>
              <div class="card-footer text-center">
                <%# <strong> %>
                Hátralévő idő: 04:37
                <%# </strong> %>
              </div>
            </div>

            <div class="card border-primary mb-3 mx-auto" style="max-width:18rem;border-color:#daf794!important;">
              <h5 class="card-header" style="/*color:#daf794;*/">
                <i style="float:right;" class="material-icons">thumb_up</i>
                Új extra feladat!
              </h5>
              <div class="card-body">
                <div class="container-fluid">
                <div class="row">
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i class="material-icons">thumb_up</i> %>
                  </div>
                  <div class="col-10" style="padding:0px;display:inline-block;">
                    <h5 class="card-title text-center" style="color:#daf794;padding:0px!important;"><strong>Csenge bálázik haa</strong></h5>
                  </div>
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i style="float:right;" class="material-icons">lock</i> %>
                    <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                    <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                    <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
                  </div>
                </div>
                </div>
                <p class="card-text text-center">
                <span class="badge badge-info">kombinatorika</span>
                <div class="text-center"><a href="#" class="btn btn-info" style="background-color:#daf794;border-color:#daf794;">Ugrás a feladatra</a></div>
              </div>
              <div class="card-footer text-center">
                <%# <strong> %>
                Hátralévő idő: 04:37
                <%# </strong> %>
              </div>
            </div>


          </div>



          <div class="col-sm-4">
            <div class="card border-primary mb-3 mx-auto" style="max-width:18rem;border-color:purple!important;">
              <h5 class="card-header" style="color:purple;">
                <i style="float:right;" class="material-icons">lock</i>
                Új extra feladat!
              </h5>
              <div class="card-body">
                <div class="container-fluid">
                <div class="row">
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <i class="material-icons">lock</i>
                  </div>
                  <div class="col-10" style="padding:0px;display:inline-block;">
                    <h5 class="card-title text-center" style="color:purple;padding:0px!important;"><strong>Kecske Eszter</strong></h5>
                  </div>
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i style="float:right;" class="material-icons">lock</i> %>
                    <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                    <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                    <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
                  </div>
                </div>
                </div>
                <p class="card-text text-center">
                <%# <span class="badge badge-info">geometria</span> %>
                <div class="text-center"><a href="#" class="btn btn-info disabled" style="background-color:purple;border-color:purple;">Ugrás a feladatra</a></div>
              </div>
              <div class="card-footer text-center">
                <%# <strong> %>
                Hátralévő idő: 04:37
                <%# </strong> %>
              </div>
            </div>
          </div>



        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="card border-primary mb-3 mx-auto" style="max-width:18rem;border-color:purple!important;">
              <h5 class="card-header" style="color:purple;">
                <i style="float:right;" class="material-icons">lock</i>
                Új extra feladat!
              </h5>
              <div class="card-body">
                <div class="container-fluid">
                <div class="row">
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <i class="material-icons">lock</i>
                  </div>
                  <div class="col-10" style="padding:0px;display:inline-block;">
                    <h5 class="card-title text-center" style="color:purple;padding:0px!important;"><strong>Kecske Eszter</strong></h5>
                  </div>
                  <div class="col-1" style="padding:0px;display:inline-block;">
                    <%# <i style="float:right;" class="material-icons">lock</i> %>
                    <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                    <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                    <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
                  </div>
                </div>
                </div>
                <p class="card-text text-center">
                <%# <span class="badge badge-info">geometria</span> %>
                <div class="text-center"><a href="#" class="btn btn-info disabled" style="background-color:purple;border-color:purple;">Ugrás a feladatra</a></div>
              </div>
              <div class="card-footer text-center">
                <%# <strong> %>
                Hátralévő idő: 04:37
                <%# </strong> %>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
          </div>
        </div>



      </div>

      <%# <div class="col-lg-2"></div> %>
      
      <div class="col-lg-3">

        <div class="card text-white bg-primary mb-4 mx-auto" style="max-width: 18rem;">
          <div class="card-header"><%#team.name%>Csapatadatok</div>
          <div class="card-body">
            <h4 class="card-title"><%=team.name%></h4>
            <%# <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> %>
            <p class="card-text">Kreditek: <strong><%=team.credits%></strong></p>
            <p class="card-text">Teljesített küldetések: <strong>4</strong></p>
            <p class="card-text">Csapattagok: <%=teamMembers.join(', ');%></p>
          </div>
        </div>
      
        <h4 class="text-center">Extra feladatok:</h4>
      

        <div class="card border-primary mb-4 mx-auto" style="max-width:18rem;border-color:purple!important;">
          <h5 class="card-header" style="color:purple;">
            <i style="float:right;" class="material-icons">grade</i>
            Új extra feladat!
          </h5>
          <div class="card-body">
            <div class="container-fluid">
            <div class="row">
              <div class="col-1" style="padding:0px;display:inline-block;">
                <%# <i class="material-icons">alarm</i> %>
              </div>
              <div class="col-10" style="padding:0px;display:inline-block;">
                <h5 class="card-title text-center" style="color:purple;padding:0px!important;"><strong>Kecske Gerda operában</strong></h5>
              </div>
              <div class="col-1" style="padding:0px;display:inline-block;">
                <%# <i style="float:right;" class="material-icons">lock</i> %>
                <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
              </div>
            </div>
            </div>
            <p class="card-text text-center">
            <span class="badge badge-info">számelmélet</span>
            <div class="text-center"><a href="#" class="btn btn-info" style="background-color:purple;border-color:purple;">Ugrás a feladatra</a></div>
          </div>
          <div class="card-footer text-center">
            <%# <strong> %>
            Hátralévő idő: 04:37
            <%# </strong> %>
          </div>
        </div>

        <div class="card border-primary mb-3 mx-auto" style="max-width:18rem;border-color:#daf794!important;">
          <h5 class="card-header" style="/*color:#daf794;*/">
            <i style="float:right;" class="material-icons">lock_open</i>
            Új extra feladat!
          </h5>
          <div class="card-body">
            <div class="container-fluid">
            <div class="row">
              <div class="col-1" style="padding:0px;display:inline-block;">
                <i class="material-icons">lock_open</i>
              </div>
              <div class="col-10" style="padding:0px;display:inline-block;">
                <h5 class="card-title text-center" style="color:#daf794;padding:0px!important;"><strong>Csenge bálázik haaa</strong></h5>
              </div>
              <div class="col-1" style="padding:0px;display:inline-block;">
                <%# <i style="float:right;" class="material-icons">lock</i> %>
                <p class="card-text text-right" style="white-space: nowrap;"><strong>22</strong></p>
                <%# <span class="numberCircle text-right"><span><strong>10</strong></span></span> %>
                <%# <p><span class="bg-dark text-white rounded-circle px-3 py-1 mx-2 h3">1</span></p> %>
              </div>
            </div>
            </div>
            <p class="card-text text-center">
            <%# <span class="badge badge-info">kombinatorika</span> %>
            <div class="text-center"><a href="#" class="btn btn-info" style="background-color:#daf794;border-color:#daf794;">Ugrás a feladatra</a></div>
          </div>
          <div class="card-footer text-center">
            <%# <strong> %>
            Hátralévő idő: 04:37
            <%# </strong> %>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</body>